/* Tipper */
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");
/* colors */
/* RGB */
/* fonts */
/*maps*/
/* mixins */
/*-----
  ----- Global styles ----
                      -----*/
* {
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fdfffc;
}
a:hover {
  color: lightgreen;
}

h2 {
  width: 80%;
  max-width: 2680px;
  margin-left: auto;
  margin-right: auto;
  grid-column: 2/3;
}

main {
  color: #555;
}

a {
  text-align: center;
}

/*----
    ----  the Form  -----
                          ----*/
.formParent {
  height: 90vh;
  overflow: visible;
  width: 90%;
  max-width: 2680px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
@media (min-width: 769px) {
  .formParent {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    max-width: 2680px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  .formParent {
    width: 50%;
    max-width: 2680px;
    margin-left: auto;
    margin-right: auto;
  }
}

legend {
  text-transform: uppercase;
  font-weight: 800;
  text-align: right;
  letter-spacing: 0.3vw;
  font-family: "Oxygen", sans-serif;
  padding: 10px;
  border-radius: 0.5rem;
  background: #fdfffc;
  border: 0.5rem solid lightgreen;
}

.theInputs {
  border-radius: 1rem;
  color: #fdfffc;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

fieldset {
  padding: 1rem;
  border: 1rem solid #2f83d3;
  border-radius: 2rem;
}

label {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.cost, .service, .people, .tipAmount {
  color: white;
  position: relative;
  padding: 2rem;
  border-radius: 20px;
  border: 0.7rem solid;
  width: 65vw;
}
@media (min-width: 769px) {
  .cost, .service, .people, .tipAmount {
    width: 40vw;
  }
}

.cost {
  border-color: lightgreen;
  background-color: lightgreen;
}

.service {
  border-color: tomato;
  background-color: tomato;
}

.people {
  border-color: violet;
  background-color: violet;
}

.tipAmount {
  background-color: #2f83d3;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

select {
  width: 30%;
}

.cost, .people, .service {
  margin: 2rem;
}

.currencyinput {
  border: 1px inset #ccc;
}

.currencyinput input {
  border: 0;
}

#numbGuests {
  width: 3vw;
}

input::placeholder {
  opacity: 0.8;
  font-size: 0.9em;
  color: #868686;
  font-style: italic;
}

input:focus {
  outline: none;
}

button {
  margin: 2rem;
  border: 0.5rem solid #2f83d3;
  padding: 1rem;
  border-radius: 20px;
  background-color: #2f83d3;
  color: white;
  cursor: pointer;
  outline: inherit;
  font-size: 3.5rem;
  width: 65vw;
}
@media (min-width: 769px) {
  button {
    width: 40vw;
  }
}

button:hover {
  color: white;
  background-color: #63aef7;
  border-color: #83b5e5;
  transition: background-color 0.2s ease-in;
}

button#clear {
  margin: 2rem;
  border: 0.5rem solid #2f83d3;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
  color: #2f83d3;
  cursor: pointer;
  outline: inherit;
  font-size: 3.5rem;
  width: 65vw;
}
@media (min-width: 769px) {
  button#clear {
    width: 40vw;
  }
}

button#clear:hover {
  color: #63aef7;
  background-color: white;
  border-color: #83b5e5;
  transition: background-color 0.2s ease-in;
}

.hide {
  display: none;
}

/*-----
  ----- FavIcons ----
                      -----*/
.fa, .fa-equals, .fa-divide, .fa-heart, .fa-dollar-sign {
  font-size: 5rem;
  opacity: 0.3;
  position: absolute;
  top: 3%;
  left: 2%;
}
.fa-dollar-sign {
  transform: rotate(15deg);
  color: #66a766;
}
.fa-heart {
  transform: rotate(-15deg);
  color: #c5381f;
}
.fa-divide {
  transform: rotate(15deg);
  color: #944e94;
}
.fa-equals {
  font-size: 4rem;
  transform: rotate(-20deg);
  color: blueviolet;
}

/*# sourceMappingURL=styles.css.map */
