/* Tipper */

@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

/* colors */
  /* RGB */
$color1: rgba(253, 255, 252, 1);
$color2: lightgreen;
$color3: rgba(114, 134, 160, 1);
$color4: #2f83d3;
$color5: rgba(249, 217, 84, 1);
$color6: #87bef4;


/* fonts */
$lato: 'Lato', sans-serif;
$garamond: 'EB Garamond', serif;
$oxygen: 'Oxygen', sans-serif;

$max-width: 2680px;
$media-break-tab: 769px;
$media-break-desk: 1024px;

/*maps*/
$breakpoints: (
  'sm': 320px,
 'med': 768px,
  'lg': 992px,
  'xl': 2680px
  );
  /* mixins */
  @mixin flex-it (
    $disp: flex,
    $align: null,
    $dir: null,
    $wrap: null,
    $just: null,
    $basis: null,
    $flex: null) {
      display: $disp ;
      flex-direction: $dir;
      flex-wrap: $wrap;
      justify-content: $just;
      flex-basis: $basis;
      flex-grow: $flex;
      align-items: $align;
      // margin: 5px;
      text-align: center;
      @content;
  }

  @mixin center($w) {
    width: $w;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }

  @mixin media($size) {
        @media (min-width: $media-break) {
            @content;
          }
    }

    /*-----
      ----- Global styles ----
                          -----*/
    * {
      box-sizing: border-box;
      font-family: $oxygen;
      // color: $color4;
    }
    html {
      scroll-behavior: smooth;
    }
    body {
      position: relative;
      margin: 0 auto;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    a {
      text-decoration: none;
      color: $color1;
      &:hover {
        color: $color2;
      }
    }

    h2{
      @include center(80%);
      grid-column: 2/3;
    }

    main {
      color: #555;
    }
    a {
      text-align: center;
    }

    /*----
        ----  the Form  -----
                              ----*/
    .formParent {
      height: 90vh;
      overflow: visible;
      @include center(90%);
      margin-top:2rem;
      @media (min-width: $media-break-tab) {
        @include flex-it($dir: column);
          @include center(60%);
      }
      @media (min-width: $media-break-desk) {
        @include center(50%);
      }
    }
    legend {
      text-transform: uppercase;
      font-weight: 800;
      text-align: right;
      letter-spacing: .3vw;
      font-family: $oxygen;
      padding: 10px;
      border-radius: .5rem;
      background: $color1;
      border: .5rem solid $color2;
    }
    .theInputs {
      // background: $color4;
      border-radius: 1rem;
      color: $color1;
      @include flex-it($dir: column, $align:center)
    }
    fieldset {
      padding: 1rem;
      border: 1rem solid $color4;
      border-radius: 2rem;
    }
    label {
      margin-right: 1rem;
      font-size: 1.2rem;
    }
    .cost, .service, .people, .tipAmount {
      color: white;
      position: relative;
      padding: 2rem;
      border-radius: 20px;
      border: .7rem solid;
      width: 65vw;
        @media (min-width: $media-break-tab) {
      width: 40vw;
      }
    }
    .cost {
      border-color: $color2;
      background-color: $color2;
    }
    .service {
      border-color: tomato;
      background-color: tomato;
    }
    .people {
      border-color: violet;
      background-color: violet;
    }
    .tipAmount {
      background-color: $color4;
      color: #fff;
      text-align: center;
      // width: inherit;
      margin-left: auto;
      margin-right: auto;
    }
    select{
      width: 30%
    }
    .cost, .people, .service {
      margin: 2rem;
    }

    .currencyinput {
        border: 1px inset #ccc;
    }
    .currencyinput input {
        border: 0;
    }
    #numbGuests {
      width: 3vw;
    }
    input::placeholder {
      opacity: 0.8;
      font-size: .9em;
      color: #868686;
      font-style: italic;
    }
    input:focus {
      outline: none;
      // background: lighten($color2, 45);
    }

    button {
  	// background: $color2;
    // background-image: linear-gradient(-40deg, $color1, $color2, $color1);
    margin: 2rem;
  	border: .5rem solid $color4;
    padding: 1rem;
    border-radius: 20px;
    background-color: $color4;
    color: white;
    cursor: pointer;
    outline: inherit;
    font-size: 3.5rem;
    width: 65vw;
    @media(min-width: $media-break-tab) {
    width: 40vw;
    }
  }
  button:hover {
    color: white;
    background-color: #63aef7;
    border-color: lighten($color4, 20);
    transition: background-color .2s ease-in;
  }

  button#clear {
  // background: $color2;
  // background-image: linear-gradient(-40deg, $color1, $color2, $color1);
  margin: 2rem;
  border: .5rem solid $color4;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
  color: $color4;
  cursor: pointer;
  outline: inherit;
  font-size: 3.5rem;
  width: 65vw;
  @media(min-width: $media-break-tab) {
  width: 40vw;
  }
}
button#clear:hover {
  color: #63aef7;
  background-color: white;
  border-color: lighten($color4, 20);
  transition: background-color .2s ease-in;
}

  .hide {
    display: none;
  }


    /*-----
      ----- FavIcons ----
                          -----*/

    .fa {
      font-size: 5rem;
          opacity: .3;
          position: absolute;
          top: 3%;
          left: 2%;
      &-dollar-sign {
        @extend .fa;
        transform: rotate(15deg);
        color: #66a766;
      }
      &-heart {
        @extend .fa;
        transform: rotate(-15deg);
        color: #c5381f;;
      }
      &-divide {
        @extend .fa;
        transform: rotate(15deg);
        color: #944e94;
      }
      &-equals {
        @extend .fa;
        font-size: 4rem;
        transform: rotate(-20deg);
        color: blueviolet;
      }
    }
